body{
    background-color: blue;
}
.auto img {

    animation-name: shina;
    animation-iteration-count: infinite;
    animation-duration: 0.1s;
    width: 120px;
}
.auto {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 300px;
    left: 235px;
}


@keyframes shina {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
}
.cars {
    display: flex;
    justify-content: center;
    align-items: center;
}
.shin {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 220px;
    bottom: 115px;
}
.shin img {
    animation-name: shina;
    animation-iteration-count: infinite;
    animation-duration: 0.1s;
    width: 120px;
}
.content {
    
}
.content hr {
    height: 5px;
    background-color: black;
    position: relative;
    bottom: 125px;
}